RFC: Relative Links and Routes

We intend to ship Relative Routes and Relative Links soon. I'd like to hear people's comments on something I'm not totally sure about yet.

## What are Relative Links and Routes?

Instead of `<Route path={match.path + '/more/stuff'}/>` you could simply do `<Route path="more/stuff"/>` and Router will use the lack of `/` at the start of your path as a hint that you want to just use whatever path is above you. Relative!

Same with links. Instead of `<Link to={match.url + '/more/stuff'}/>` you can just do `<Link to="more/stuff"/>`.

## The Problem

Going "down" as shown in the quick example up there is easy. But we're not sure what ".." should mean. There are two options for what it means: go up a URL segment, or go up a matched route.

## Go up a URL segment

With plain anchors tags, `..` means "up a URL segment". Given the following URL, an anchor tag with the following HREFs results in the following URLs:

```
/clients/invoice/123
```

href | url
-----|-----
`payments` | `/clients/invoice/123/payments`
` ` | `/clients/invoice/123`
`.` | `/clients/invoice/123`
`..` | `/clients/invoice`
`../` | `/clients/invoice`
`../..` | `/clients`
`../../` | `/clients`

(As far as I can tell, feel free to double check!)

So I think everybody's intuition around this is to just do exactly that and be done with it. Ship it.

However, I have this gut instinct that our intuition right now might be keeping us from a better meaning of ".." in a React Router app?

## Go up a matched Route

Maybe your app is something like this:

```jsx
  <Switch>
    <Route exact path="/" component={Home}/>
    <Route path="/clients" render={() => (
      <Clients>
        <Switch>
          <Route exact path="." component={ClientList}/>
          <Route path="invoice/:invoiceId" component={Invoice}/>
        </Switch>
      </Clients>
    )}/>
  </Switch>
```

Maybe we want ".." to mean "go up a matched route" rather than "go up some url segments".

So now the "relative" portion of the Link's `to` prop is the parent Route's path, not the current location.

to prop | link's url
-----|-----
`..` | `/clients`
`../..` | `/`

Notice `..` doesn't go to "invoice" because that's not a route that will ever match.

**Pros**

- When you change a parent Route's `path` prop, the relative links below don't need to be updated
- You can't link to something that doesn't have UI (probably, see cons*)

**Cons**

- *Since any ol' route can match a location w/o a relationship with other Route's that match, a Link in one place can potentially have a completely different href than a link somewhere else--even though they have the same `to` prop 😬.  It all depends on the Route's path the Link is rendered within.
- It's against most people's intuition

What do you think?

I think the expected behavior is better because expected with that syntax.   The route walking behavior could be useful but I'd suggest looking for another syntax.

Ah so maybe `<Link to="../projects"/>` works on URL segments and `<Link to="^^/projects"/>` could work on the parent route's path. Interesting.

What about a separate prop that is mutually exclusive with `to`? Something like `<Link upOneRoute>`? Then you can avoid overloading the API. (another option: `<Link up={count}>`, to traverse more than one level)

I think going up a matched route would be a bad idea. 2 reasons I can think of off the top of my head:

> Notice .. doesn't go to "invoice" because that's not a route that will ever match.
1. I don't think you can make this claim when routes in v4 can be anywhere in the component tree.

2. What happens when you decide to add a `<Route path="invoice" />` a few weeks later? Now you've inadvertently borked all your relative links.

I think your assumption in first post is wrong, @ryanflorence 

Given URL like `/clients/invoice/123` the behavior is:

|href|url|
|---|---|
|payments|`/clients/invoice/payments`|
|``|`/clients/invoice/123`|
|`.`|`/clients/invoice`|
|`..`|`/clients`|
|`../..`|`/`|

@BTMPL Resolving here is going to be slightly different than how the browser treats hrefs. Before stripping the last segment, we ensure that the `pathname` ends in a trailing slash. That way only an empty string is stripped and we can treat `/clients/invoice/123` the same as `/clients/invoice/123/` (we get the segments `['clients', 'invoice', '123']`).

The only tricky thing with that is that we have to keep track of if the original path had a trailing slash. I dealt with that in #4459 with [this code](https://github.com/pshrmn/react-router/blob/cd42cf65a2a7394bd6b234238f370df8d274ca80/packages/react-router/modules/resolveLocation.js#L32-L35) and [these tests](https://github.com/pshrmn/react-router/blob/cd42cf65a2a7394bd6b234238f370df8d274ca80/packages/react-router/modules/__tests__/resolveLocation-test.js#L83-L103) (which I think are correct, but I haven't reviewed them in a couple months).

@pshrmn I understand that this is a decision aimed at new developers that might be unfamiliar with the URI syntax, but that's a step away from the specs.

Also, Ryan's example was based on anchor tags, so I assumed spec compliant, not react-router variant and should follow the RFS - https://tools.ietf.org/html/rfc1808#section-5

Is there a real need for relative links other than not having to access `props.match.url` ?

The composability of React and RR4 are great.  I think when @ryanflorence mentions the second option he is targeting 1st class support for this concept.  Allowing a component to ignore implementation details of its owner/parent, etc.

Conceptually, I think it's useful to classify path segments in 2 seperate ways.  Navigation and argument.  For example ```/list/page2/item1/tab2```.  For the sake of this discussion, ```list``` and ```item1``` are probably navigation segments (resulting in route matches and a rendered component), and ```page2``` and ```tab2``` are argument segments (passed to the matching component).  I argue that navigation segments are often what we want to work with when discussion relative paths.  Argument segments are often optional and can cause headaches.

I'm not sure what the exact solution is, but my most common needs are as follows:
- Navigation down the tree, easy in any method, just append path to the existing one.
- Navigate up the tree, almost always I want to go the parent match, never up one segment (possibly an argument segment).  This is the biggest downside to option1 in my opinion, custom logic required to navigate up from ```/list``` vs ```/list/page2```.
- Change argument segments within a component match (i.e. no change to tree).  Without getting the parent involved (e.g. send a rootPath prop) we need reference to a base match without argument segments.  For example ```to="./page2"``` would always go to ```/list/page2``` regardless if coming from ```/list``` or ```/list/page1```.  We can reconstruct a new path with only knowledge of the current components domain.

I believe this description keeps cohesion within the component.

The unfortunate thing about this discussion is that you might have a completely different view if you use RR4 differently within your app.  But hoping this makes sense to as most people as possible.

In _my_ head `<Link to="" />` directly corresponds to `<a href="" />`, so I would the expect the `to` prop to behave in the same way as the a's `href`. If a relative link behaves differently in react-router than the html counterpart, then that is something and you'll probably will be explaining over and over and over again.

Could the _alternative_ behaviour be implemented in a dedicated component?

I agree @thomasvm.

Especially with ```..``` as it has such an intuitive use (remove a single segment from the current url).  Changing it would require massive userland instruction.

I don't believe ```.``` has the same familiarity.

I think @davidascher suggestion is worth considering.

Relative links would be completely for convenience (i.e. not having to use `match.url` and string concatenation).

I think that as long as the resolving behavior is well documented, I'm okay with being slightly different from how anchors resolve. The current URI spec seems mostly inspired by static file servers, where trailing slashes are normal (e.g. `/somewhere/` is really `/somewhere/index.html`). When they aren't, linking to child pages is annoying.

```html
<!--
for example, with window.location.pathname = '/user/123',
you have to include the user id in a relative link
-->
<a href='123/edit'>Edit</a>
```

If we automatically insert a trailing slash, then we get the behavior that I feel like the resolving was originally built around. Maybe I'm just assuming that intention because it fits my argument, but RFC 1808 _was_ written over 20 years ago.

Also, while this behavior is different from how anchors resolve, it is consistent with how the terminal apears to resolve with `cd` (they may be appending the trailing slash, but visually the terminal does not show it). 

```sh
~/code $ cd forks
~/code/forks $ ls
react-router history
~/code/forks $ cd react-router
~/code/forks/react-router $ cd ../history
~/code/forks/history $
```

Anyways, I'm more of a fan of the segment-wise double dot resolving because it is more predictable. I can certainly see the appeal to match based resolving, but I feel like that might lead to weird edge cases.

I would be a fan of this solution if react-router would enforce traling slashes but I don't think enforcing anything like that is what the devs want. Maybe adding a separate link component or a prop on the link component to change it to relative mode *is* the solution?

> Maybe I'm just assuming that intention because it fits my argument, but RFC 1808 was written over 20 years ago.

Sure, but it's still in use today, and a lot of webdevs are used to how it works ;)

@ryanflorence 
Given `/clients/invoice/123`, a link to `payments` should definitely go to `/clients/invoice/payments`, not what is suggested in the first post.
@BTMPL 
Given `/clients/invoice/123`, `.` should not go to `/clients/invoice` but rather `/clients/invoice/` (trailing slash)

Why not follow standards?


I came to this bug researching how to write relative `<Route/>` with react-router because I don’t get how nesting would make sense without support for relative routes. I was surprised that this is not a feature yet.

Maybe links could just *not* support `..`. If you’re trying to navigate to a different page in the app which requires going *up*, that means your `<Link/>` **implies it knows the structure of its parent components**. Requiring components to know where they will be called from seems to work against the ideal react components data flow.

By **disallowing** `..`, you could encourage in the docs for authors to pass down absolute link generators which may themselves be built from relative contexts. For example, a demonstration of a component knowing only about `<Routes/>` it manages and passing the necessary information to other components which might want to link to routes it manages:

```jsx
<Route path='a/:aParam1/:aParam2' render={routeProps => <SubComponentA aParam1={routeProps.match.params.aParam1} aParam2={routeProps.match.params.aParam2}/>}/>
<Route path='b' render={routeProps => <SubComponentB buildALink={(aParam1, aParam2) => routeProps.match.url + '/' + ['a', aParam1, aParam2].map(encodeURIComponent).join('/')}/>}>
```

I think this sort of pattern enables you to write components that can use `<Route/>` without knowing about the structure of any components containing them. If you change any `<Route/>` in this component, you can immediately see all dependencies on that `<Route/>` and fix your link builders from one spot. This pattern is not enforced if the concept of `..` is supported by relative `<Link/>`s because developers will take that shortcut.

Sorry if this isn’t coherent or isn’t quite on topic. My demo also probably uses react-router incorrectly.

P.S., I also find it confusing that baseUrl=`/clients/invoice/123` with url=`payments` resolves to `/clients/invoice/123/payments`. Everyone expects browser/standard URI behavior such as is supported by all the URI libraries out there:

```
> require('url').resolve('/clients/invoice/123', 'payments')
'/clients/invoice/payments'
> require('url').resolve('/clients/invoice/123/', 'payments')
'/clients/invoice/123/payments'
```

However, route-relative URI support for `<Link/>` needs to be supported somehow for the feature to be useful. I’d like if a relative `<Link/>` were to always be relative to the full matched route plus a `/`. As long as the documentation for relative `<Link/>` clearly states that it is relative to matched route plus `/`, I think that it won’t be too confusing. That way it would match the behavior of relative `<Route/>`, making it easy to build links to relative `<Route/>`. Just don’t tell people that relative `<Link/>` it is relative to the URI they see in their browser, say there’s an implicit `/` and ensure it’s easy to get the version of the URI with that implicit `/` from the `match` object that, e.g., includes optional parameters (by just placing extra consecutive `/`) if there isn’t already an API for that (`match.url` does not do this, so it is unusable for building relative links).

I realized I made a mistake in [my hypothetical relative `<Route/>`s demo](https://github.com/ReactTraining/react-router/issues/5127#issuecomment-305389214), sorry for spam. In rendering `SubComponentB` I need to refer to `this.props.match` when generating the URI builder, not `routeProps.match`. This way, the URI is relative to the example component rather than to my `b` route. Here’s the corrected version:

```jsx
<Route path='a/:aParam1/:aParam2' render={routeProps => <SubComponentA aParam1={routeProps.match.params.aParam1} aParam2={routeProps.match.params.aParam2}/>}/>
<Route path='b' render={routeProps => <SubComponentB buildALink={(aParam1, aParam2) => this.props.match.url + '/' + ['a', aParam1, aParam2].map(encodeURIComponent).join('/')}/>}>
```

@binki I struggled a little to understand your example, but I agree with your point that we don't want sub-components making assumptions about their parent.  As for removing a relative '..' as an option, that would be a little draconian for me.

@ryanflorence Have you had a chance to read the above comments?  Has your thinking progressed since opening this issue?

The fact that `history` already supports relative pathnames (I guess I knew that it does, but I never see it used, so I wasn't thinkingn about it before) means that there could be inconsistent behavior for relative links. Of course the point of React Router adding relative links is that we produce an absolute URI, but there isn't a great way to infer the difference strictly looking at the `pathname` string.

```js
/* current */
// location = { pathname: '/user/12345', ... }
// match = { path: '/user/:id', url: '/user/12345', params: { id: '12345' }, ... }
<Link to={`${match.params.id}/details`}>User Details</Link>
// <a href='/users/12345/details'>User Details</a>
```
[demo](https://codesandbox.io/s/v2p23mM9V)

With that approach, you still have to use the `match` properties to generate the relative link. For me, that defeats the point of implementing relative links.

The two solutions that come to mind are to make a separate `<RelativeLink>` component or to add a prop to `<Link>` to differentiate between spec relative routing and segment relative routing. If we chose the former we would also need to write a `<RelativeNavLink>` which is not ideal.

Instead I think that we could add a `spec` prop for people who want relative paths to be resolve according to spec. You could also have a `relative` prop that does segment relative routing when `true`. Both approaches have their benefits, and maybe I'm just being stubborn, but I would prefer to have segment relative routing be the default. I think that overall it looks cleaner.

```js
// location = { pathname: '/user/12345', ... }
// match = { path: '/user/:id', url: '/user/12345', params: { id: '12345' }, ... }

// when adding additional segments, it is simpler to just write
// the desired segment to add
<Link spec to={`${match.params.id}/details`}>User Details</Link>
<Link to='details'>User Details</Link>
// both produce <a href='/users/12345/details'>User Details</a>

// when going to different segment on the same level, it is slightly simpler to
// just write the segment value
<Link spec to='67890'>Other User</Link>
<Link to='../67890'>Other User</Link>
// both produce <a href='/users/67890'>Other User</a>
```

AFAIC we've already got a great story around relative `<Link>` and `<Route>` just using the `match` object.

```jsx
// Relative links build their to value using match.url
<Link to={match.url + '/sub/path'}>relative link</Link>

// Relative routes build their path using match.path (or match.url if they don't care about parent route's params)
<Route path={match.path + '/sub/path'} .../>
```

I agree these aren't perfect yet because the string concat can get messy when there's a trailing `/` in the URL, but it's very explicit which I like.

Need for avoiding match.url in case of <Route path={match.url+'/sub/path'} will be great. 

Instead of the above, if we were able to just say:
<Route path='sub/path' **endMustMatch**
..it will be easier (where endMustMatch is a keyword that Route can read and handle). 

I ran into this path issue and resolved it through a careful look at https://reacttraining.com/react-router/web/example/basic 

I then went about removing all explicit pass-downs of props via:
render(){return <outerComponentTag {...this.props}> 
(I had earlier tried to do this pass-down to check whether it somehow resolved the issue of Route not working). 

....but now after the cleanup of these explicit prop passdowns (there were generating errors in the browser control), the component where I render Route complains that it cannot find 'match'!!!

`..` should go up a single URL segment. There are decades of precedent (and standards) for this in web URLs, which are based on decades more precedent in Unix directory traversal.

To traverse up a full matched route, I propose `...`

We can and should have both!

Back in May (sorry, I'm late to this party), @lewisdiamond suggested that `.` should go up a single URL segment but leave a trailing slash:

| Given `/clients/invoice/123`, `.` should not go to `/clients/invoice` but rather `/clients/invoice/`

I think he's right. This would mirror how regular web links work. As he says, `..` would go up yet another level (e.g. `/clients/`, still leaving a trailing slash.

In summary, my proposal would be:

- `.`: Remove characters from end of URL pathname until reaching a slash; leave the slash
- `..`: Same as `.`, but then remove the next token from the end of the URL, leaving the previous slash.
- `...`: Remove the last matched route (which may be absolute or relative to its own parent route)

If we leave slashes for `.` and `..` as proposed above, then routes should also have an option (perhaps true by default?) to allow `exact` to match with or without a trailing slash.

@svicalifornia not too sure whether  '.' being used to _remove_ part of the url matched so far, would really be an intuitive syntax in general... 
Regarding the '...' syntax suggestion, do you mean to say that in place of:   
```
<Route path={match.url+'/sub/path'}
``` 

...we should be able to say:
```
<Route path={'.../sub/path'}
``` 
...?
If that's the case, then I like the suggestion; it looks nicer than the 'matchEnd' keyword suggestion I mentioned previously.

@sohrabsaran Not quite. As @ryanflorence proposed at the top of this thread:

> Instead of `<Route path={match.path + '/more/stuff'}/>` you could simply do `<Route path="more/stuff"/>`

Then he asked us:

> Going "down" as shown in the quick example up there is easy. But we're not sure what ".." should mean. There are two options for what it means: go up a URL segment, or go up a matched route.

My proposal (echoing @lewisdiamond) is that `.` and `..` should behave exactly as web links have worked for the last ~25 years:

- `.`: Remove characters from end of URL pathname until reaching a slash; leave the slash (i.e. go to the "current directory" of the URL).
- `..`: Same as `.`, but then remove the next token from the end of the URL, leaving the previous slash (i.e. go to the "parent directory" of the URL).

And to support the use case offered by @ryanflorence to go up a whole matched path, I propose that we use `...`:

- `...`: Remove the last matched parent route (which may be absolute or relative to its own parent route).

For example, imaging we have a route `/users` with a component of `Users`. We would write that as:

    <Route path="/users/:id" component={Users} />

Now imagine that `Users` contains a long `Switch` of many user routes, including `/users/:id/profile/relationships`. Since we have already matched `/users` in the parent route, we could write a relative route like this:

    <Route path=":id/profile/relationships" component={UserRelationships} />

Then inside the render function of `UserRelationships`, we might want to link back to `Users`. So we could use `...` to remove the last matched route (`:id/profile/relationships`), returning us to `/users`:

    <Link to="...">Users</Link>

Or we could link to a different user's profile:

    <Link to={`.../${familyMember.id}/profile`}>{familyMember.name}</Link>

This is a somewhat contrived example, and you might structure the routes differently, but hopefully this shows how `...` would work and the benefit of having it in addition to `.` and `..`.

@sohrabsaran If you still doubt that `.` should behave as I proposed, then try this in any web page:

    <a href=".">Click Here</a>

Open that file locally in Chrome and click the link, and you'll see that it removes the filename from the URL and takes you up to the directory path. It's worked that way since the 1990s.

For the benefit of those following this thread on email, a correction to my post above. This code:

    <Route path="/users/:id" component={Users} />

should have been:

    <Route path="/users" component={Users} />

Sorry for any confusion, and for all these emails!

I've made some other clarifications to my posts here tonight, so please click the link to read the updated thread on GitHub.

@svicalifornia thanks for summarising the context of the thread. I came here while looking for a way to avoid having to mention match.url in '<Route path='. I saw the last answer from @mjackson, that may have confused me about the exact scope of the opening post. I'll be more careful next time. So far I've avoided the need for '<Link to=' by using a custom component that calls history.push(). 

Agreed that 'no prefix' quite logically and concisely means that the given path is relative to match.url (the part of the url matched so far).  

Further, as suggested in the opening post, a Link's 'to' attribute when a relative path, is relative in the exact same way as a Route's 'path' attribute when a relative path. They are both considered as prefixed with match.url.

So, I feel that it is logical and intuitive to consider a starting '..' as removing the end from match.url.  I can't seem to visualise any alternate interpretation!
In summary, per my intuition:
```
<Link to="../sub/path"
```
...resolves to:
```
<Link to="/match/dot/url/../sub/path"
```
...that in turn resolves to:
```
<Link to="/match/dot/sub/path"
```
This is like the expected behavior of the 'cd' command on linux; given that the current directory contains two directories 'a' and 'b', if we say
```
cd a/../b
```
...we see that the current directory changes to 'b'. This may be tried out at a linux command prompt.

So @svicalifornia, can the following concern in the original post please be elaborated with an example (I take it that unlike me, you've understood the concern):

>Cons
>
>- *Since any ol' route can match a location w/o a relationship with other Route's that match, a Link in one place can potentially have a completely different href than a link somewhere else--even though they have the same to prop :grimacing:. It all depends on the Route's path the Link is rendered within.
>- It's against most people's intuition

...? 

Do note that in the examples you've given, examples were given for '...' but not for '..'. Sorry for the bother, just trying to help to close out this one...  

@sohrabsaran In standard web links, the behavior of `..` at the start of a link href depends on the current page URL, specifically whether it ends in a slash (directory path) or not (file path):

| If the current page URL is | then `.` goes to | and `..` goes to |
| --- | --- | --- |
| **/some/directory/** <br/> _(directory path; trailing slash)_ | /some/directory/ | /some/ |
| **/some/directory/page.html** <br/> _(file path; no trailing slash)_ | /some/directory/ | /some/ |
| _In both cases, the general rule is:_ |   _current directory_ |  _parent directory_ |

So you see that when the current (match) URL ends in slash, `.` goes to the same place, and `..` removes the last part of the URL, as you said. However, when the current (match) URL does not end in slash, then `.` removes the last part of the URL, and `..` removes the **last two parts** of the URL.

This behavior of relative links is defined in Internet standard [RFC 1808](https://tools.ietf.org/html/rfc1808), published in 1995. Netscape Navigator and Internet Explorer implemented relative web links this way back in the '90s, and web browsers have handled relative links exactly the same way since then.

When we use React Router, our routes don't correspond to directories on disk, but they often do correspond to collections of items in a semantic sense. For example, the route path `/products` would typically route to a component listing a collection of products. Semantically, this is very similar to a directory in the traditional web, and since we are using URLs (with syntax defined by the traditional web), then we should probably be using trailing slashes in our directory routes, like so: `/products/`.

HTTP web servers usually take care of this for us by redirecting any request to a directory without the trailing slash to the same URL, but with the trailing slash added. This has the effect of adding a trailing slash to the visiting user's browser address bar, so that all the relative links on the page will behave according to the URL ending in a trailing slash. It would be great if React Router could do the same thing: `Route`s defined with a `directory` property would match with or without the trailing slash and would automatically add the trailing slash to the match URL (and perhaps also to the browser address bar with `history.replace`).

Regardless, I do feel strongly that if relative links are to be successful in React Router, then they should behave exactly as they do on the traditional web, as defined in RFC 1808. That means we as app developers need to be aware of whether the match URL will end in a trailing slash or not. To make that easier for ourselves, each of us could adopt a convention of always using trailing slashes on our directory/collection routes, or we can add the `directory` property to React Router so that it can take care of the trailing slashes for us.

Following this convention will ensure that we are implementing relative links the same way that they have worked for over 20 years, so that current and new app developers will find it easy to work with and not get turned off by us doing things some different way.

Keep existing URL semantics is my vote.

@svicalifornia based on my exposure to React Single Page App architecture so far, perhaps some  doubts that may be in the 'newbie' category: 

In a single page app, is there any point in saying 'page.html' (any more)? 
Also, is it really meaningful any more to distinguish between a url that ends with '/' and one that doesn't?

Per my understanding (that might be limited of course), a best practice seems to be, to not provide a false impression of multiple html pages. That is, do not use .html extension when in reality the router is just switching to a new react component, that is not the same thing as a simple html page. Also do not show two different things based on whether the url ends with '/' or does not end with '/'. In fact it seems like a good practice, to write one's code such that all valid routes do not have a trailing '/'. This would keep things simple for developers and the applications' users alike. In fact, would expect React Router to automatically knock off the trailing '/' (if the user typed that into the address bar) even for urls specified to be an exact match. This is something that simply needs to be documented as a feature of the future versions of React Router.

So of the 3 rows you've provided above, I'm able to identify only with urls of the last type (directory path; no trailing slash). Further, I would avoid using '.', even if the behaviour is well-defined. The only time I use a single dot is because of that security feature in Linux, where to run a file in the current directory we are forced to type './file'.

This brings me to the  bottom right-most cell of the table shown in your post above. Please check, I think you might have made a mistake; the value of the cell should be '/some' and not '/' as you have mentioned. For example, if I go to a url in my browser such as 'https://stackoverflow.com/questions/455338/how-do-i-check-if-an-object-has-a-key-in-javascript' and change the url in the address bar to 'https://stackoverflow.com/questions/455338/how-do-i-check-if-an-object-has-a-key-in-javascript/..' and press Enter, then the url immediately changes to 'https://stackoverflow.com/questions/455338' (before I think, the server redirects the browser back to the original url).

I still cannot see why it would not be clear to those developing a single page app in react router v4 and onwards, that the urls are relative to the last matched url part. Having to repeat <Route path={match.path + '/more/stuff'}/> is painful. I liked the suggestion in the opening post of not having to type match.path everywhere. And in line with that, I see only one way to interpret something like <Link to="../sub/path", as shown in my previous post.  

React and React-Router are really amazing technologies. My guess is that they did not get to where they were, without some daring and innovation. While it is great to have a thorough knowledge of past conventions, I would vote for the community to keep innovating, by valuing logic over tradition. Of course, we would need clear technical documentation and release notes to cover the new rules...  

Specifically, just state in the documentation that for the interpretation of '..', React Router v.X follows the 'browser address bar' or '**cd** command' standard behavior, rather than the RFC 1808 standard behavior, because that latter standard is at odds with these 2 more commonly used and known standards. 

A React Router link's component syntax need not **have** to behave identical to a plain old 
```
<a href="..">click me</a> 
```
link of a plain old html page. 

@sohrabsaran I share your desire for a logical and pragmatic solution. When I first came to this thread, I also thought that `..` should simply remove the last part of the URL. But as I read through the comments, I was reminded that relative URLs don't work that way, and that simply removing the last part of the URL is not only incorrect relative to existing URL standards, but is not actually simple when it comes to real-world practice in a React app.

First, let me clear up some misconceptions you've made:

> In a single page app, is there any point in saying 'page.html' (any more)?

I never suggested that we should add `.html` to our React routes. I was merely using `page.html` as an example URL in the traditional web, to explain how relative URLs work.

> I still cannot see why it would not be clear to those developing a single page app in react router v4 and onwards, that the urls are relative to the last matched url part. Having to repeat <Route path={match.path + '/more/stuff'}/> is painful.

As I already pointed out to you, `match.path +` will go away when relative links are adopted in React Router. I don't think any of us is arguing that `<Route path={match.path + '/more/stuff'}/>` should continue after this change is made. Indeed, the entire point of this change is to get away from writing `match.path +` so often. Since we already agree on that, let's keep that out of the discussion at hand.

> This brings me to the bottom right-most cell of the table shown in your post above. Please check, I think you might have made a mistake; the value of the cell should be '/some' and not '/' as you have mentioned. For example, if I go to a url in my browser such as 'https://stackoverflow.com/questions/455338/how-do-i-check-if-an-object-has-a-key-in-javascript' and change the url in the address bar to 'https://stackoverflow.com/questions/455338/how-do-i-check-if-an-object-has-a-key-in-javascript/..' and press Enter, then the url immediately changes to 'https://stackoverflow.com/questions/455338' (before I think, the server redirects the browser back to the original url).

No, you made the mistake here: when you added `..` to the end of that URL, **you also added a slash before `..`,** which was not there before. Therefore, you added the trailing slash yourself, and then `..` after that, which behaved as in the trailing-slash case in my table posted above.

Here's how you can test it correctly on your example Stack Overflow page:

1. Using Chrome, go to https://stackoverflow.com/questions/455338/how-do-i-check-if-an-object-has-a-key-in-javascript
2. Open the Chrome Developer Tools. (If you haven't used this before, [learn more here](https://developer.chrome.com/devtools).)
3. On the web page, right-click (ctrl-click on Mac) on the Stack Overflow logo, then choose **Inspect.**
4. In the Elements panel, the `<span>` for the Stack Overflow logo should be highlighted, surrounded by an `<a>` tag.
5. In the surrounding `<a>` tag, double-click the value of the `href` to edit it, then change it to `..` and press return to confirm the change.
6. Now click that Stack Overflow logo on the web page. You'll see that the **last two parts of the URL are removed.** This is how `..` works when there is no trailing slash in the starting URL.

> Also, is it really meaningful any more to distinguish between a url that ends with '/' and one that doesn't?

**Yes.** First, this is web standard, codified in RFC 1808, followed by all web browsers. As you probably know already, it's important for all web developers to follow web standards.

But let me explain further why it matters:

React Router URLs are commonly modeled after Express and Rails server-side routing, which in turn are usually modeled on [REST](https://en.wikipedia.org/wiki/Representational_state_transfer). One of the key concepts of REST is that _resources_ are made up of _collections,_ which contain _members._

In a typical web site that maps to some directory on disk, directories are collections of files, and files are members of those collections. As I have already described, web servers and browsers work together to ensure that collection URLs end in a slash, and member URLs do not.

Now let's imagine an app using React Router, with the following URL:

    /users/alice

`/users/` represents is the _collection_ of all users, and `alice` represents a _member_ of the collection.

To link from `/users/alice` to `/users/`, the correct route would be `.`, which in Unix means "the current directory" and in this case means "the current collection," which is `/users/`.

To link from `/users/alice` to her friend `/users/bob`, the correct route would be simply `bob`, which would be interpreted relative to the current collection `/users/`.

Again, this is how relative URLs are defined to work, per RFC 1808. Relative links are <b>not</b> relative to the last token of the URL, <b>but instead to the last slash of the URL.</b>

React Router does not yet enforce the trailing slash on collection URLs, partly because it does not yet support relative links, and so we've never had to consider any slash-relative behaviors. Now that we are adding relative links, we should also adopt the trailing slash for our collection URLs, so that relative links will work predictably and consistently with existing URL conventions and web standards. As I proposed above, adding a boolean `collection` property to `Route` would enable Route Router to add those slashes for us automatically, and then our relative links could easily follow the existing standards.

@svicalifornia we agree on what no dot should mean, what '..' should ideally mean, and we've mostly deprioritized '.' and '...' from the discussion. So we're making progress...

Coming to the concerns you've shared in your latest post:

> I was reminded that relative URLs don't work that way, and that simply removing the last part of the 
>URL is not only incorrect relative to existing URL standards, but is not actually that simple when it 
>comes to real-world practice in a React app.

Your concern stems from RFC 1808 treatment of a link that ends with '..', followed by all web browsers. 
Let me address your concern as follows:
1. First and foremost the RFC applies to browsers, *not* to code running in the browser and modified by the React build-time and/or runtime. For example, if we made an enhanced js interpreter that runs in the browser, we are free to change the 'alert' function to flash a message and auto-close after a few seconds, though this might be against the javascript standard. What matters is that the original semantics are preserved and the functionality though it might appear to deviate with respect to some low-level technical details, overall remains the same. Which brings us to the second point below:
  
2. Secondly and even more important from the pragmatic point of view, though the RFC talks about changing the url by removing its leading two parts, its intent is to go one directory back. The plain browser without any React layer considers each url to be that of a web page, so the RFC talks about removing the file name and then the directory that contains that file name. In the SPA paradigm, we both agree that it is more appropriate to have all urls of the app without a file extension. So to respect the original intent of '..', in the react environment we actually need to remove just the first part of the url before '..'. 

Coming to whether we should distinguish between a url that ends with '/' and the same url that does not, here is my high level understanding: 
In a single page app, we could well have everything working with less effort, if we don't care that the url shown in the address bar won't change. 

The only reason we care about manipulation of the text shown in the browser address bar, is to allow the user to have different urls that can be bookmarked and otherwise stored offline for later reference. When the user clicks on a bookmarked url, he should directly be taken to the appropriate 'page' of the SPA, without having to navigate the menu system of the SPA. That is the whole and sole purpose of react-router (as per my understanding).

Assuming my understanding is correct, I would as a web designer never want to confuse my site users with urls that show something different based on whether the url ends with a slash. In fact I would write code to remove the slash on the client side and redirect to the resultant route. If React Router had this logic built into it, it would be great! 

REST-compliant urls are per my understanding usually headless API urls where SPA UI (and therefore, React Router) are out of the picture. It is only the SPA code and developer users who want programmatic access to the functionality of the web app, that fetch from these URLs. If for these categories of users (programmers), REST conventions talk about putting a trailing '/' somewhere and not somewhere else, I can live with it. 

@sohrabsaran Again you have some major misconceptions:

> First and foremost the RFC applies to browsers, not to code running in the browser and modified by the React build-time and/or runtime.

No, you're quite simply wrong about that. From the first page of RFC 1808:

> This document describes the syntax and semantics for "relative"
> Uniform Resource Locators (relative URLs): a compact representation
> of the location of a resource relative to an absolute base URL.

It is not limited to browsers. It is not even limited to the Web, since URLs can and are used for other protocols such as filesystems, FTP, SSH, and others. This is a general standard for URLs.

React Router uses URLs for routing. RFC 1808 absolutely applies.

And furthermore, React is a web application framework. When you develop in React use React Router, you are building web applications. I don't understand why you would think that web standards would not be applicable to web applications just because they happen to be written in React.

As you've admitted above, your understanding of the issue may be (and is) limited, and rather than seeking to understand the URL standards that have been in place since 1995, you seem to be trying to force your misconceptions on the rest of the world. You are 22 years too late to the discussion of how relative URLs should work, and it is highly improper for you to suggest that thousands of other developers should learn a second way of interpreting relative URLs just because you don't understand the existing standard and think your way is better. It's not better. It's wrong, and it will cause undue confusion and lots of issues from other developers asking for us to fix it to follow the standard.

Relative URLs are relative to the current collection/directory. Please familiarize yourself with this concept and return the discussion when you understand how relative URLs actually work.

And one more thing: RFC 1808 is not just some obscure standard. It's how relative links work, and thousand if not millions of us expect that to be followed when we code relative links. If you mess with that, you are forcing the rest of us to not only remember the non-standard way, but to explain it to all the other current and future front-end developers in our organizations, who will all think that it's pretty weird and stupid for React Router not to follow the convention. And you will cause all of us a lot of frustration and wasted time and energy, and cost our organizations in missed opportunities and expense for this wasted time. **These are real costs.**

When the current component's matched URL is `http://some.app/users/alice`

Then following RFC 1808, I expect the following relative link behaviors:

| Link to | Destination | Notes |
| `.` | http://some.co/users/ | Current collection `users` |
| `bob` | http://some.co/users/bob | User 'bob' in the current collection `users` |
| `..` | http://some.co/ | Parent collection (which happens to be the root in the case) |

Any deviation from the above behavior **is incorrect according to RFC 1808,** and the learning costs borne by the developer ecosystem are completely unjustified when RFC 1808 is a well-known and perfectly good standard to apply here.

I thought of an even simpler way than adding a `collection` property to `Route`. To indicate that a route will have child routes, we could just add a slash to end of the parent route's path.

For example:

    <Route path="/store/">
      <Route path="." component={StoreLandingPage} />
      <Route path="products/">
        <Route path="." component={ProductDirectory} />
        <Route path=":sku" component={ProductInfo} />
      </Route>
      <Route path="orders/">
        <Route path="." component={OrderList} />
        <Route path=":id" component={OrderDetails} />
      </Route>
    </Route>

If the user goes to http://ourapp.com/store, then React Router would realize that they intended to go to `/store/` and add the slash automatically. `match.url` would be set to `/store/`, so any Links from the `StoreLandingPage` component would be relative to `/store/`, following both RFC 1808 and the behavior that @sohrabsaran desires (`match.url + "relative/path"`).

If the user goes to http://ourapp.com/store/products, then React Router would realize that the intended route is `/store/products/` and add that next slash automatically. The first `match.url` in `StoreLandingPage` be set to `/store/`, and the `match.url` in `ProductDirectory` would be set to `/store/products/`. The Links on `ProductDirectory` would be relative to `/store/products/`, again compliant with both RFC 1808 and @sohrabsaran's expectations.

If the user goes to http://ourapp.com/store/products/ABC123, then React Router would not add a slash to the end, because the final matched route is `:id`, which does not end in a slash and therefore does not have any child routes. (If we wanted it to have child routes, then we would code that `Route` with a slash on the end of its `path`, like so: `<Route path=":id/" />`.) Without the slash on `:id`, the `match.url` would be `/store/products/ABC123`. And links from this component would be relative to its collection `/store/products/`:

| Link to | Destination | Notes |
| --- | --- | --- |
| `.` | http://ourapp.com/store/products/ | Current collection `products` |
| `DEF456` | http://ourapp.com/store/products/DEF456 | Product SKU `DEF456` |
| `..` | http://ourapp.com/store/ | Parent collection (store landing page) |

So the main difference I'm suggesting here is:
- IF there is a route that ends in slash
- AND the user enters a URL that matches except omits the slash
- THEN React Router should add the slash to the URL to match that route
- AND that slash should be added to the end of `match.url`
- SO THAT relative links can be relative to the slash per RFC 1808.

I think this gives @sohrabsaran exactly the behavior he wants, while appeasing those of us who care about relative URL standards, without the need for a new `collection` property on `Route`.

Win-win-win, yes?

@svicalifornia I accept that I'm just a public contributor who has the 'advantage' of providing opinions purely from the user-expected semantics perspective, and may not be sufficiently motivated to pay close attention to wording and applicability of prior RFCs. That being said, as you pointed out that RFC 1808 is a general RFC for any url, I took a closer look at the RFC. Clearly, it applies to a tree of **documents**. 

Now, I don't think that routes are comparable to trees of documents! Clearly, they are trees of containers instead, such that a leaf page may tomorrow have further sub-'pages' and would thus clearly transform itself into a container. 

So I think that ''.." can (and should) always be interpreted as 'go back to the previous container'. Not doing that would be a violation of the semantic intent of the way '..' is currently used and understood everywhere.  RFC 1808 for systems that consist of trees of documents, is simply complying with this higher-level understanding of '..'. As a user of a framework that would not treat '..' as 'go back to the previous container', me and probably others would be quite confused, and that's why this thread was opened for comments in the first place.  

*If* we could agree that yes, routes of SPAs are trees of containers rather than trees of documents, then I feel that the need for using '.' as well as worrying about a trailing '/' would be gone. What your'e proposing lately is that the React Router check at build time or run time that whether a particular route has sub-routes defined for it. On that basis, React Router will determine where a route is a 'folder' or a leaf 'document'. Well what if due to some application logic, child routes (sub-pages) are dynamically inserted where there were previously none? I could have an 'if' statement in the render method, that renders routes conditionally...
And I have not even done an impact analysis on what would happen if a route that is considered as a 'document' today, has sub-pages added to it tomorrow...

My proposal for React Router's treatment of trailing slash (that can be generalised as a proposal for treatment of any trailing slash in a system that is a tree of containers rather than a tree of documents) is simply to ignore it and don't care about it. I'm speaking from the pure usability perspective, what I've said above is simple to understand. 

It also happens to be very simple to implement. If found better, don't even bother removing the trailing '/' in the address bar, just ignore it in the route matching logic. 

Regards standardization, I do not have the resources to work further on 'url conventions for a tree of containers' standardized as an RFC, and in it propose to ignore trailing slash and formalize the interpretation of '..' as 'go back to previous container'. 
'Tree of containers' is a term I came up with a few seconds ago, thanks to our patient conversation. If others in the community like and understand this concept of a 'tree of containers' rather than a 'tree of documents' then may be others better placed, could help to standardize this concept (if it does not already exist). 

A "tree of containers"? Now you're just making stuff up.

In your steadfast ignorance of URL conventions, you have now picked a rather arcane point to again refute the applicability of RFC 1808. As you are in continued denial of how URLs work, please refer to [RFC 3986](https://tools.ietf.org/html/rfc3986) for "URI Generic Syntax," which supersedes RFC 1808 and begins:

> A Uniform Resource Identifier (URI) provides a simple and extensible
> means for identifying a resource....
> This document obsoletes [RFC2396], which merged "Uniform Resource
> Locators" [RFC1738] and "Relative Uniform Resource Locators"
> [RFC1808] in order to define a single, generic syntax for all URIs.
> This specification does not limit the scope of what might be a
> resource; rather, the term "resource" is used in a general sense
> for whatever might be identified by a URI.

So this standard clearly is **not limited to documents.** It describes the behavior or all URIs, including the URIs routed by React Router.

Sections 4.2, 5.1, and 5.2 of RFC 3986 establish the behavior of relative references. Specifically, section 5.2.3 states:

> If the base URI has a defined authority component and an empty
> path, then return a string consisting of "/" concatenated with the
> reference's path; otherwise,
> 
> return a string consisting of the reference's path component
> **appended to all but the last segment of the base URI's path (i.e.,**
> **excluding any characters after the right-most "/" in the base URI**
> **path,** or excluding the entire base URI path if it does not contain
> any "/" characters).> 

So you see, the standard defines relative link behavior exactly as I have described. This standard behavior for relative links are now fundamental to web development, and your ignorance of that behavior does not change the fact that thousands of us depend on it and have for decades. Your continued arguments that the rest of us should change and follow your whims is both arrogant and reckless, as it would result in long-term, never-ending costs of explaining some non-standard system to all our colleagues, as well as reputational costs to the community perception of React Router as a sensible and standards-compliant URI router.

**Stop trying to rewrite or ignore the standard for relative URIs.**

> My proposal for React Router's treatment of trailing slash (that can be generalised as a proposal for treatment of a trailing slash in any system that is a tree of containers rather than a tree of documents) is simply to ignore it and don't care about it. 

**This is the very definition of ignorance.** I point out that a standard applies, and you say that we should ignore it, because you choose to ignore it. Your willful ignorance is not helpful to our community, who coexist by understanding and following the existing standards.

> What your'e proposing lately is that the React Router check at build time or run time that whether a particular route has sub-routes defined for it.

No, I did not propose that. I proposed most recently that React Router could simply look at the `path` of each `Route`, determine whether it ends in a slash, and use that to determine whether the `match.url` should also end in a slash. Then, according to RFC 1808/3986, relative links would be relative to the last slash of `match.url`.

What's so hard about putting a trailing slash on your routes? Why do you keep resisting that each of your "tree of containers" should end in a slash? That's how URLs work: "containers" end in slashes. Why fight the standard when it's so simple to follow it?

@svicalifornia this will be my last post, since I have clearly been portrayed as the 'devil's advocate' in this thread. So, I'll request you to read it carefully and give it due consideration.

Contrary to what you might feel, I'm not here to specifically fight any standard, nor do I intend to spread misinformation or endanger people or communities by suggesting that we abandon standards and face dire consequences. We may discover that we are 'fighting' standards, whenever we try to do something new and innovative. As per the old standards, there should be no SPA concept, no React, and no React Router; it is all blasphemy and non-standard!

The important thing is to understand the **intent** behind a standard, and not to mistake certain specifics mentioned in the standard as the intent. Rather some specifics mentioned should be *interpreted* as suggestions as to how to achieve the intent, in the specific context under which the standard was written.  

I accept that it sounds downright confusing but then in general, so is Life. Someone has to at some time, step up and take responsibility for apparent 'violation' of the standard, in the interest of the greater good. Otherwise if the standard is not 'violated' in time, then the person who felt that they upheld the standard runs the risk of coming in for criticism later on.

To give an extreme example, forget 20 year old RFCs; there are for example, religious and social texts that are **thousands of years old** that talk about certain standard customs and scientific beliefs that may have been standards in their time, but are now impractical to follow, or we simply know better now. 

So there is such a thing possible as too narrow an interpretation of an RFC, that would in hindsight end up as being an incorrect interpretation of an RFC. That is what I'm concerned is happening here.

I'm here to suggest what would be logical, simple, sensible and friendly to a user of React-Router. Also, to help articulate why that suggested behavior may better adhere to the higher intent of the existing standards that you quote. 

If you tell me that we agree that:
```
 '<Route path="further/path">' 
```
...is the same as:
```
 '<Route path="/match1/match2/further/path">' 
```
...then if are you proposing that:
```
 <Route path="something that contains '..' ">
```
is NOT going to behave like the cd command of linux for all the places where we could put '..'  and for case of both trailing and no trailing slash, then the fact is that I am going to be unhappy and confused about it, no matter how much you may blame it on the RFCs. I would simply find it illogical and a pain, that '..' does not simply and always mean 'remove the previous container'. 

Beyond having to understand more complex rules as a developer, let me attempt to explain further, why I would be unhappy to find a deviation from the behavior of 'cd':  

Even if I made up the term 'tree of containers', the fact is that the old RFCs almost certainly had a tree of documents (web page files) and directories in mind, and NOT a tree of.... well, containers. In that specific context, it is only the files that can contain links, and not directories. So as a web developer in the old context, if I create an ```<a href="..">Click here to go back</a>```  link in a document (web page), I will always think about this as having the **intent** of going back to the parent container (directory). If it were necessary for the browser to remove two trailing parts of the url shown in the address bar, then according to my logic, that is just a way to achieve the intent in the context of which the rfc was written, rather than that actually being **the** intent. One could actually go and ask T. Berners-Lee about the intent as an author of these RFCs, but the more important point would be - what is the community's current perception of the sensible and logical intent behind what was specified. I can't speak for the community's perception in general; I can speak based only on the pattern for '..' that my brain has generalized about, by working with it for almost 2 decades. 

20 odd years ago when these RFCs were written, there was probably no exact equivalent of 'Routes', there was no real equivalent of 'containers that can have links'!

The context of files+directories ('tree of documents') is NOT the case with SPA Routes and this too, is a fact borne out by your previous post, where you said that giving file-name like paths to leaf routes of an SPA is probably not what you have in mind; you kind of seemed to agree that doing that would be misleading. Neither would I recommend having a new concept of a different path syntax for 'file Routes' and 'directory Routes'. I'm happy with the fact that React-Router does not have this concept, and that tomorrow I can easily add sub-pages to my route, that did not previously have any sub-pages. 

Note that the behavior of the cd command is best suited to describe the expected semantics of routes that consist solely of containers, because the cd command accepts paths (routes) of only folders (containers) as an argument. My open question to you as a food-for-thought is, that as per your understanding, does the 'cd' command of linux follow the RFCs you mention? If yes, then why? If not, then why? Given that cd command behavior is closer to the context of routes than is an RFC that pertains to a tree of documents, do you *really* feel that the deviation from the simple behavior of cd command is justifiable and would be more acceptable to the developer community?   
 
I'll again drift into some motivational observations before coming to a specific point: 
We have real life examples where some things in RFCs are not actually followed, and ultimately bow down to end user preferences, the desire to avoid common mistakes, and having more logical conventions, for e.g. :
- Case sensitivity in email addresses may be there as per the RFC, but most of us treat email addresses as case-insensitive and it usually works that way.
- Microsoft implemented VBA with case insensitivity with good intentions - and it is something that works and people can relate to as being more user-friendly, even though it is something against the standards that most languages follow. To the Microsoft-haters, let me provide a better example - SQL.
- In the cd command, if somehow there are two consecutive backslashes present in the path, may be as a result of creating a new path by concatenation done in a script, the repeated '//' seems to be ignored for all practical purposes, and treated as just '/'. What are your views on this observation, its RFC compliance and the applicability of this aspect of user-friendliness, to your plans of defining different behaviour w.r.t. presence or absence of trailing backslash?    

...So it is in that spirit, that we need to make a design decision: Why do we want to complicate the life of programmers and/or end users by making them worry about whether or not they typed a trailing '/' in either the address bar or the Route's 'path' attribute or Link's 'to' attribute, and make them worry about what are all the rules surrounding this? Even though we may be tempted to pay a respectful nod in the direction of REST conventions, are these conventions really applicable to React Router's client-side, non-API context, and is anyone really going to benefit from this additional complexity of a nod in this direction? Then where have the HTTP verbs of REST disappeared, so do we need to add those on too to the Route specs???

I feel that the simpler the rules governing a system are, and the more tolerant a system is of silly mistakes, the faster it will get understood, adopted and appreciated by the community. As a daily user of this open source technology, I truly am on the side of React Router, and do not wish for it to risk being 'routed' by its own design changes or enhancements that could lead to more silly mistakes, unusual semantics and unjustified complexity for its users. 

In summary, I'll recommend: 
- a single interpretation of '..' in all scenarios, as 'remove the previous container'
- ignore the presence or absence of trailing '/' in browser address bar, '<Route path=""" ' attribute and '<Link to="" ' attribute.

Devil's Advocate signing off.

> We may discover that we are 'fighting' standards, whenever we try to do something new and innovative. As per the old standards, there should be no SPA concept, no React, and no React Router; it is all blasphemy and non-standard!

You keep going wrong on the same point. You think the URI standards don't apply to React, or to SPAs, or whatever, because you say that we are "innovative" and "non-standard." As if URI syntax was designed strictly for web pages and nothing else.

I have repeatedly told you that you are wrong on this point, that your focus on web pages vs SPAs vs whatever is totally irrelevant, because, as the RFC actually says, 
I keep telling you that URI conventions have nothing to with web pages, that a resource is defined by the RFC as "whatever might be identified by a URI." That second RFC was revised in 2005.

You may not realize this, but SPAs existed in 2005. URL routing in SPAs existed in 2005. There is nothing new or earth-shaking about routing URLs in a SPA.

The rest of what you wrote is a long diatribe of gibberish designed to win an argument on false pretenses. At one point you even suggest that Tim Berners Lee wrote these RFCs, as if one man was the creator of all web conventions, and therefore we can safely assume that they are antiquated or insufficient for modern uses. You fail to understand that the web conventions we have today were designed by dozens of not hundreds of people, who represent a broader community of thousands upon thousands of developers, with millions of not billions of stakeholders. This community remains active in designing and applying standards for emerging technologies, and vigilant in protecting those standards from unnecessary bifurcation that hurts the community.

We're not complicating developers' lives by ensuring that base URLs end in slashes, because those slashes are **key to how relative URLs work.** We'd be complicating their lives if we **didn't** add the slash, because then all of us would have to remember and explain and justify to other developers some wrong-headed scheme.

If you don't understand that how relative URLs work, then it is well and good that you have chosen to sign off from this thread. I hope you really take in what I've been trying to get across to you before you question the wisdom or applicability of these standards again.

My last tweet then: In 'simplicity+logical semantics' v/s 'non-simple standards compliance', 'simplicity+logical semantics' shall always prevail, history shall judge the standards as being either outdated or misinterpreted. And there is such a thing as unnecessarily complex design irrespective of whether 'standards are being followed'. Suggest something more simple, logical and straightforward than what I'm suggesting, and I'll appreciate it.

You're not doing a good job of letting this go.

You invented the terminology of "containers," which are more commonly called "collections." Either way, slashes in URLs delineate those collections. The fragment on the end of a URL after the last slash is a _member_ of the collection shown before the slash. And relative URLs are always relative to the last slash of the base URL. It's true in web pages, it's true in JSON API URLs, it's true in other arbitrary server-side app routes, and it's true in client-side SPAs. It's just how relative links work.

As for simplicity and logic, all we have to do is ensure that `match.url`, which is the base URL for our relative paths, will end in a slash. Then it will be a collection, and you'll get the relative link behavior that you want.

How we accomplish that is still up for debate. I've suggested two ways so far: (1) to add slashes on the ends of route paths or (2) to add a `collection` property on `Route` that adds the slash. I'd even consider the possibility that every route is a collection, and magically add the slash to `match.url`s. However, I'm afraid that violate the principle of least surprise and would probably break a lot of existing apps using React Router.

But you can't keep saying that we should ignore the issue of the slashes altogether. Somewhere a slash must be added to join the relative path to the path that came before it, and that has to be done in a way that makes obvious sense to everyone.

Agreed I'm not doing a good job of letting it go. I want to understand.

>Somewhere a slash must be added to join the relative path to the path that came before it, and that 
>has to be done in a way that makes obvious sense to everyone.

Let us say I have: 
```
var theSwitchForTopLevelRoutes = 
<Switch>

    {/*main page route*/}
    <Route exact path="/" component={MainPage}/>
```
then in some other file I have:

```
						<Route 
							path={matchUrl+"/PendingTasksPage"}
							component={PendingTasksPage}
						/>
```
(above code runs for me in React Router v4),
Now let's say I have further in the code tomorrow: 

```
						<Route 
							path={matchUrl+"/PendingHighPriorityTasksPage"}
							component={PendingHighPriorityTasksPage}
						/>
```

...then, what I fail to understand is that whether as a programmer I write (by mistake):
```
path={matchUrl+"/PendingTasksPage/"}
```  
...rather than without the end '/' then, why do we need to fuss over it. The above code being v4 code has explicit 'matchUrl+"/' which is why annoyed I came here, but given that we plan to do away with it, what is stopping us from ignoring the resultant '//' on internal concatenation by the react router runtime and treating it the way cd does? Why would it not make obvious sense to everyone.

What the hell is up with your code blocks, bro? Did you just paste tabs into GitHub?

I've reduced the indentation for clarity but tab pasting works.

Your `match.url` will already have a trailing slash. So you don't need to add another one. You won't need to do `match.url + "/"`, because the slash will already be there. Why would you want a double slash?

Listen, you really should stop arguing this. We both want similar behavior for relative `Route` and `Link` paths. I just also want the `match.url` to end in slash for standards compliance. I don't see why you're so opposed to this when it will do exactly what you want.

Not arguing Shawn, just trying to understand and converge 100%. I can only hope we converged on handling of '..' since you were silent on that a few posts back.

You say:
> I just also want the match.url to end in slash for standards compliance.

Given that we don't need to explicitly mention match.url any more, my remaining question is: to make the match.url end in slash for standards compliance, then in the next version of React Router, do you expect me to HAVE to say:
```
			<Route 
				path={"PendingTasksPage/"}
				component={PendingTasksPage}
			/>
```
or, can there be some grace and tolerance built into react router so that I could get away with just:
```
			<Route 
				path={"PendingTasksPage"}
				component={PendingTasksPage}
			/>
```
so that regardless of which of the above forms I used, I would have the pending tasks page working, and also if tomorrow if I have:
```
				<Route 
					path={"PendingHighPriorityTasksPage"}
					component={PendingHighPriorityTasksPage}
				/>
```
...as a child of either of the above forms, it could be tolerated? Do you have any strong objections to this kind of 'permissive intelligence' and singular end interpretation of trailing '/' in this specific scenario?

Can you guys take this conversation elsewhere? This isn't doing much to help move the conversation along about relative routes and links. I'm going to hide your comments from the thread so they don't cloud up the discussion with a Wall of Text™.

As to the discussion at hand. Whether the convention is `^` or `...`, we're still introducing new syntax. That might be more acceptable in the case of a named-route-based approach, like we used to have back in the day. But given that we've switched to a more URL-based approach, I think we should stick to plain RFC 1808 semantics and operate on the URL level. 

At some point later, we can add on a new syntax to navigate routes, instead of path segments. And in the meantime, this should be possible through `to`-as-a-function via #5368. I'd rather figure out the the details through a more flexible approach before locking something in that would be painful to change later on.

So, relative URLs for now; relative routes for later.

Also, because this will make it drastically easier, @mjackson already has written a library to do this for us: https://github.com/mjackson/resolve-pathname

WANT! Is this on the roadmap to ship in any specific version?

There is no roadmap. Someone just needs to decide on an API/semantics and code something up.

@timdorr who is gonna be someone? Could you just roll which whatever you feel is the correct path and at least we get the release of this feature rather than no having it?

I am building some distributed interface and this feature is really need it.

I may have some time to work on this in the next few weeks.

A PR is the very best way to move things forward. I'd look through the discussion in here on semantics and then try to build that out. We can discuss over code, rather than theory, which is way way faster and better to getting something merged into master.

just use 'relative' prop(boolean) for Switch and use 'absolute' prop(boolean) on Route to force usage of absolute routes.

```jsx
<Switch>
   <Route path='/users'>
      <Switch relative>
         <Route path='/list'/>
         <Route path='/info'/>
         <Route absolute path='/profile'/>
      </Switch>
   </Route>
</Switch>
```

as result we will have next routes:
```
/users/list
/users/info
/profile
```

@plandem Thanks for the idea, but I'm afraid that that won't be backward-compatible with existing routes (in which all leading slashes are treated as absolute). It's also not compliant with RFC 1808 and subsequent RFCs on URL syntax.

I will be working on a PR to treat leading slash as absolute and no leading slash as relative.

@svicalifornia leading slash as default browser behaviour is ok too (not so neat visually, but ok). and don't forget about external routes, that will not have leading slash, but using protocol as prefix.

@svicalifornia could you resume the whole conversation (specially the ones I can't see) in one last comment that we all can follow and know what was discuss and what not?

I am having a hard time why we still thinking on how this should done 😄 

@plandem Yes, you are right about protocol prefixes, though I don't those are applicable in a React Router `Route`. We should use `Link` to link out to other sites.

@yordis I understand your request for clarification, but I also think that @timdorr is right that we should discuss this further on a PR. I will document how it works with my PR. :) Until then, please review my two [comments](https://github.com/ReactTraining/react-router/issues/5127#issuecomment-322021809) [above](https://github.com/ReactTraining/react-router/issues/5127#issuecomment-323243151).

@svicalifornia why you keep referring to URL stuff, in my head should be relative to the Router matching when I use `.` `..` `/`

Hi, it's about one year now... don't you think it's time to add relative support?

What is my opinion:
1) add an explicit props for relative support like "relative" "nested" defualt to false, and not just first letter "/" check as this may create errors.
2) what is most important and more useful is nested Route support with relative path, and relative Link on currentt Path.

3) support for special filesystem path like  . or .. should be release later...as it's not the main featured.

Have a nice new year talking about how to add relative path supporto .... 

 

So it seems like this feature is stuck because of `..`? If so, can we get an MVP out without `..` handling? That'd help a lot of us who have simple relative links.

Honestly, I've have read the whole discussion, so I might be missing something, but since @mjackson already created handy library why not just add a new component like this? It could be even in a separate package, but I don't see a reason why not to add something like that in `react-router` itself.

```tsx
import React from 'react'
import { Route, Link } from 'react-router-dom'
import resolvePathname from 'resolve-pathname'

interface IRelativeLinkProps {
  to: string
  from?: string
}

export const RelativeLink: React.SFC<IRelativeLinkProps> = ({
  to,
  from,
  children,
}) => (
  <Route
    children={({ location }) => (
      <Link to={resolvePathname(to, from || location.pathname)}>{children}</Link>
    )}
  />
)
```
I've tested it just very superficially for couple of my use cases and I am satistified with it.

> but I don't see a reason why not to add something like that in react-router itself.

@FredyC  argument please.



@yordis I don't understand what do you mean. Either way, I mostly just wanted to show it's quite easy to support this in userland without waiting for any spec to be formed. Anyone who doesn't want to wait, go ahead and enjoy :)

@FredyC I meant to explain why this shouldn't be on `react-router` 😄 

btw just for aggregate data about this,

if we roll with this, I would love to have some flag that let the component knows that it is a relative path. I wouldn't like to assuming anything from URL.

Why would you need a flag? Whether a link is relative or absolute is a _solved_ problem. Been so since the early days of computing. 

@mrchief because the point is not that we know how to do it but this is running on a browser in a mobile phone that have enough giving up with running React probably for us to be adding that computation checking for every click on a link ... 

Also,

because for introduce something like this I would prefer that we push for a flag/component that will no interfere with the current one and by so at least this moves forward faster.

@yordis 
1. Computation demands of proper relative/absolute URL behavior will be minuscule and totally insignificant, even on mobile.
2. Currently, all React Router paths are absolute with leading slashes. Adding support for relative paths without leading slashes (per convention/standards) will not "interfere with the current one."

@mrchief is right that a flag to indicate absolute vs. relative is completely unnecessary. The URL standards solved that distinction over 20 years ago.

There is absolutely no good reason to deviate from the current standard (which has been fully accepted by the industry for decades). Doing anything different is only good to alienate newcomers.

No flag needed, no new component needed. 

@svicalifornia @lewisdiamond  I just want to see this moving forward mates if that means to do not touch the current internals ... 

The reason this didn't go forward is because people kept proposing alternatives to the current web standard. All that needs to be done for this to work on the web is to fix this part of `history`:
```
if (currentLocation) {                                                 
  // Resolve incomplete/relative pathname relative to current location.
  if (!location.pathname) {                                            
    location.pathname = currentLocation.pathname;                      
  } else if (location.pathname.charAt(0) !== "/") {                    
    location.pathname = resolvePathname(                               
      location.pathname,                                               
      currentLocation.pathname                                         
    );                                                                 
  }                                                                    
} else {                                                               
  // When there is no prior location and pathname is empty, set it to /
  if (!location.pathname) {                                            
    location.pathname = "/";                                           
  }                                                                    
}                                                                      
```

@lewisdiamond can we roll with this

```
./ - current path
../ go backward in path
/... absolute path
```

What is the problem with that? If this is not web standard why it would matter anyway?

Standards are made by people, maybe the React Router community push to some spec to be `web standards` on the future, don't you think folks?!

This was the same situation with BabelJS back then when some folks were opposed to any Babel feature.

Either we starts using it or we get stock in time because we want to be web standards. For many of us, we just want to have such of handy feature on the core 😞 

@lewisdiamond's solution is the MVP - we should move forward with that for starters. Rest can be rolled in later when there is consensus. Will it help if a separate issue (asking just for MVP) is opened up? This argument can stay in this thread while we get the non-controversial parts out?

@mrchief I would that rather than next issue, it's about who is going to make that PR to move this forward :) @lewisdiamond Can you do that since you already came up with the code? :)

Damn it. Ok, I'll do it this weekend.

@lewisdiamond walked right into the trap! Looks like the plan worked! 😜 

Relative Links are seem to be already working in 
```
    "react-router-dom": "^4.2.2",
```
`<Route>` paths don't work for matching a resource `/x/y/resource` with `path="resource"`, but works fine with `path="*/resource".
As for relative nested `<Route>` that one doesn't work. I'll see if there's an easy fix.

@lewisdiamond what about Link component ?

> Relative Links are seem to be already working in

As in the `<Link>` component.
This seem to be working:
```
        <BrowserRouter>
            <div style={{display: 'flex', flexFlow: 'column'}}>
                <Link to="/a/b/c/z">Deep</Link>
                <Link to=".">cwd</Link>
                <Link to="..">parent</Link>
                <Link to="../">parent /</Link>
                <Link to="../..">granparent</Link>
                <Link to="../../">granparent /</Link>
                <Link to="x">x</Link>
                <Link to="../x">../x</Link>
                <Link to="../../x">../../x</Link>
                <Link to="something/else">Deeper</Link>
                <div style={{display: 'flex', flexFlow: 'column'}}>
                    <Route path="/" render={() => (
                        <div> 
                            -> /
                            <Route path="/a" render={()=>"/a"}/>
                            <Route path="a" render={()=>"a"}/>
                            <Route path="*/z" render={()=>"*/z"}/>
                        </div>
                    )}
                    />
                </div>
            </div>
        </BrowserRouter>
```

The missing part is this:
```
<Route path="/a/" render={ () => (
   <Route path="z" .../>
)}
/>
```
To render Routes with path relative to their parent.

However, note that this change may break using `<Link to={{pathname: 'relative/url'}}/>`
https://github.com/ReactTraining/react-router/commit/be6fb6df75961e8786fae89dfd5bf74b2e7e2160#diff-8c17f8f99262d24cba447ddc8f465455

Which is what my previous comment about where the fix should be was about. I was looking at master.

Correct me if I'm wrong, but it seems like relative `<Link>` sneaked in and may sneak out next release. I can't `npm link` react-router-dom and use that in a test CRA project because of dependencies issues so I can't really test unless I spend time fixing my setup.

After further testing (yea I fixed my `link` setup), relative `<Link>` will still work in `master` branch of `react-router-dom` and `ReactTraining/history` even with `{pathname: '../something'}`.

The only missing part is the relative `<Route>` when nested.

I am curious, should this be a part of `react-router-dom` instead of a core `react-router`? I mean there is a `react-router-native` counterpart which does not have a "real urls", but routing works in a similar way and it might be confusing to have a different behavior across these two packages.

I don't want to complicate things too much right now, but it's something to consider.

`<Route path="*/" render={EditNav} exact={true} />`
if I add the * it seems to stop working properly.  it starts matching other routes like /something

@FredyC Can you verify if it already works in `native`?

> I am curious, should this be a part of `react-router-dom` instead of a core `react-router`?

This needs to be in the core library. It affects the operation of non-DOM histories, such as Memory- and StaticRouter.

@lewisdiamond I don't need to verify that, just one peek at the source code it's obvious that native package `Link` is just passing `to` prop directly to a history while in case of dom package, there is a call to `createLocation` from `history` package which is probably doing the magic.

https://github.com/ReactTraining/react-router/blob/cebdd7292a7776268a61f71e14f8734b35c93800/packages/react-router-dom/modules/Link.js#L70

The react-router-dom behavior is inconsistent. If you pas `<Link to={{pathname: '../relative'}}/>` then it doesn't do any magic, the browser resolves for you (i.e. it renders `<a href="../relative"/>` and the browser handles it correctly).

@lewisdiamond You are right, but I guess that's kinda separate issue and should be probably handled by creating `{ pathname: to }` object internally and let `history` do the rest. 

The native part is simpler here because it doesn't need any `<a href=...` to be created there. It just pushes/replaces to history object when pressed. The DOM part is doing the same thing except it also has to build the `href`, but it's still passing `to` prop to history unchanged. 

The ideal solution would be to have less logic in Link and let the `history` handle most of it. When `history.push` is called, it uses `createLocation` in every history implementation. I am not sure if `createLocation` is working correctly regarding relative routes. There are even some tests included for relative paths, but I am not sure if covers all scenarios from this thread. Perhaps that's a good place where to start with this.

https://github.com/ReactTraining/history/blob/f147077735c7ee1af83a7abffb4857cb3e825bf2/modules/__tests__/TestSequences/PushRelativePathname.js#L21

This has been silent for a while, what is the status?

I agree with @FredyC regarding leaving the link logic to `history` as much as possible, which seems to already get the job done, but it results in `react-router` having an inconsistent behavior regarding paths as pointed out by @lewisdiamond.

Supporting relative paths within `Route` using react context seems like a fairly straightforward solution to resolving this inconsistency; is anyone working on this?

This is a pretty significant roadblock for some people considering adopting or migrating to v4.

For relative routes,
I managed to edit the matchPath function to merge the path from the context match object, It works well for my use cases.

I made it so the default behaviour is relative, and become absolute only in presence of a leading slash

```jsx
<Route path="/posts">
{() => (
    <Switch>
        // here path={undefined}. it's the same as path="" or path="." or path="anything/.."
        <Route exact component={PostList} />
        // here the path is resolved as  path="/posts/add"
        <Route exact path="add" component={PostCreate} />
        <Route path="edit/:postId" component={PostUpdate} />
        <Route path=":postId" component={PostDetails} />
    </Switch>
)}
</Route>
```

`/posts => List`
`/posts/add => Create new post`
`/posts/edit/123 => Update post 123`
`/posts/123 => View post 123`

The problems I got are the following:
- what if the parent path contains a optionnal parameter ?
- can't support `../` in routes ( well I can't figure an use case for this anyway )


@Aetherall The only use case for `..` in routes I can imaging is when you want to build a "go one level back" function, something like "back to the overview page". Next: I don't think that naming routes without an `./` before is clear enough. Instead of just `add` I would prefer `./add`. When I look into the UNIX shell context and commands there like `add` have a more global meaning. `./add` points to something in the current directory (or in this case: current route).

@MeiKatz I use unix rarely, but I believe that things like `add` are not really a global. An path to is in the environment variable, right? To simulate that behavior here you would need to be able to specify some "aliases" for anything that is not prefixed. I think it would become rather ambiguous in the end. I think it's ok to consider path without any prefix as relative to current path.

Anyway, as I said here before (https://github.com/ReactTraining/react-router/issues/5127#issuecomment-369607770), there is already working solution I am using in my projects and it works just fine. No need to wait for anything really, it's just a small reusable component.

@Aetherall, @MeiKatz  with all due respect - `.` and `..` handling is why this issue is stuck in a limbo (see my earlier [comment](https://github.com/ReactTraining/react-router/issues/5127#issuecomment-366099583)). We're essentially restarting that whole discussion again. 


@mrchief You're totally right. But there are only three ways out of this: either somebody makes a decision or both versions are acceptable or you can configure which way works for you. Anyway, hopefully this feature will make it into the master soon.

Folks, while we keep trying to be right with whatever **valid** concerns that you have, we still do not have the feature.

@ryanflorence figured this out in `@reacth/router` already and guess what?!

Whichever decision he made people move with it and don't care if it is how X works what it matters is how it works in that package.

Sometimes we need to be more pragmatic with the problems. We tend to forget that  in software development there is no one way rule them all.

We keep going in loop as @mrchief pointed out already. Just move one with the most simple and intuitive solution `for React Router`, at the end of the day we are using `to` property for this so nobody should expect `to` to be behave 1 to 1 as `href`.

Here is the final proposal (forget how things works outside our ecosystem, please)

https://reach.tech/router/nesting from `@reach/router` by @ryanflorence 

All the details on how it works are written in the documentation.

As simple as it gets and it is implemented already in an amazing package.



@timdorr do you think is possible to just add the implementation from https://github.com/reach/router/blob/054187e17795c5c2df289109456ce42c48f49343/src/lib/utils.js#L121-L184 and move on with this issue?

The Reach Router approach is initially appealing. However, this is the controversial bit:

> Reach Router made a choice to ignore trailing slashes completely, therefore eliminating any difference when navigating up the path. Therefore:
> 
>     // if we're at "/some/where" or "/some/where/"
>     <Link to="../">Up</Link>
>     // this links to "/some" in both cases
>
> To sum it up, just imagine every url is a “directory” and you’ll do just fine.

There has been a LOT of discussion in this thread about whether URL standards (RFC 1808) apply to React apps. I've argued that the standard should apply, and that the correct way to link from `/some/where` to `/some/` is `./`, not `../`. Others in this thread argued that React Router should be different (at least one commenter apparently didn't know that `./` was a thing and didn't understand it).

I'm somewhat sad to say that I barely care anymore. As @yordis says, pragmatism beats paralysis, and we still don't have relative routing/links. If there's an easy way to port Reach's approach over to React Router, I won't belabor the standards argument any longer.

@svicalifornia Wouldn't it be the easies part to just implement the not so controversal parts and add the other ones afterwards? Then we have relative routing and wouldn't have to fix mistakes in the long run.

I have a feeling here, that most people decided it's time to finally do it, but there doesn't seem to be a hero willing to actually jump into it :) It's like some hot potato.

@FredyC I was off from React community for almost 6 months but you are god damn right but also the Core maintainers do not participate in the conversation and wasting the time tackling this for later on to be rejected is not fun at all.

At least from my end, I will need to debug how to implement this before put any code since I dont know about RR interals.

+1 with @yordis suggestion to copy the implementation.

We would much rather just have the functionality and can deal with whatever standard is used. Also it seems like this can be easily configurable which makes most of the discussion moot.

Btw, I sent a PR for basic implementation based on guys' earlier work here: #6307 

I'm cross posting this from 
https://github.com/ReactTraining/react-router/issues/5291#issuecomment-436597022 as it solves similar problems to relative links, and may work for some people in this thread.

It doesn't implement relative links directly, but allows a nested browser router so that a basename can be set on a descendent of a BrowserRouter.

---

Having a nested BrowserRouter (or equivalent) may be a common requirement in large applications that are separated in to modules.

In our case, this is solely so that:

- We are able to set a basepath on a descendent of a BrowserRouter, that affects all descendent router components
- React Router applications can be distributed as modules and live within parent applications that also use React Router

I looked in to the issues described by @timdorr above and think I have a solution.

I created a `NestedBrowserRouter` component that uses the parent router's history but adds a basepath:

https://github.com/penx/nested-browser-router

I have put a demo usage here:

https://codesandbox.io/s/q4l9vo1m89
```jsx
    <BrowserRouter>
      <>
        <h1>Application</h1>
        <Link to="/">Home</Link> | <Link to="/sub">Sub app</Link>
        <Switch>
          <Route exact path="/" render={() => <h2>Home</h2>} />
          <Route
            path="/sub"
            render={() => (
              <NestedBrowserRouter basename="sub">
                <>
                  <h1>Sub app</h1>
                  <Link to="/">Sub Home</Link> | <Link to="/sub">Sub Sub</Link>
                  <Switch>
                    <Route exact path="/" render={() => <h2>Sub Home</h2>} />
                    <Route exact path="/sub" render={() => <h2>Sub Sub</h2>} />
                  </Switch>
                </>
              </NestedBrowserRouter>
            )}
          />
        </Switch>
      </>
    </BrowserRouter>
  );
```

Caveats:

- This requires React Router @4.4 which is still in beta
- I've only proven a basic use case here, would be interested in feedback and to hear if this works for all use cases. We are planning to use this in production on a large scale, modularised React application that lives across multiple repositories.


Bot DansGame

@ryanflorence  I've used the `withRouter` together with `match.path` to create my nested routes for a while now, however I've just now switched to v5.1 trying to remove the HOC's. Is there still a solution to create the same behaviour with the new hooks? Using `useLocation()` you'll always get the current route match instead of the 'parent route'. 

For example: 
```
const NestedRoutes = () => {
   // Before I would use match.path here wrapped via withRouter.
   const {pathname} = useLocation();

  return (
    <Switch>
        <Route path={`${pathname}/bar`}><Component /></Route>
        <Route path={`${pathname}/baz`}><AnotherComponent /></Route>
    </Switch>
  );
}

const Main = () => {
  return (
    <Switch>
        <Route path="foo"><NestedRoutes /></Route>
    </Switch>
   );
}
```

If I use the HOC `withRouter`, the path would always say 'foo', even if I directly land on a sub page. However, with the new `useLocation()` hook it will always give the path of the page you landed on (which makes sense). But I'm now looking for a way to get the path of the parent route, without using the (almost deprecated) HOCs. 

Thanks! 

@JeroenReumkens @mjackson Maybe we should add the feature that `path` could also be a function like we do with `to` for `<Link />`, but pointing to the parent route match. Not sure about the consequences.

Or maybe it could be an option to render a <Route> with its own context provider, which holds all the 'route data', like the path. That context you can then consume in the child route via `useParentRoute()` or something like that?

Also not sure about performance impact by rendering all these providers. 

@JeroenReumkens I think this is the "unsanctioned" method to get what you are looking for...

```javascript
import { Switch, Route, __RouterContext } from 'react-router';

...

const { match } = useContext(__RouterContext);

```

I believe that will allow you to use the same approach.

 


Just a quick update here for anyone who's following along: right now the plan is to make relative routing the default behavior in v6, similar to how it currently works in @reach/router today. Manually interpolating `match.path` into child `<Route>`s and `<Link>`s is tedious at best.

We will be introducing a version of `<Switch>` soon in v5 that makes relative routing the default behavior so that all `<Route>`s beneath it are relative to their parents. We are introducing the API in v5 so you can migrate your code to the new API one piece at a time w/out migrating everything to v6 at once.

Hi @mjackson Thanks for the updates! Will the Embedded Routers from `@reach/router` be supported in `v6`?

@mjackson Where can we track the progress on that new relative version of `<Switch>`?

.

> We are introducing the API in **v5** so you can migrate your code to the new API

@mjackson, is this functioanlity now available in `"react-router-dom": "^5.1.2"` or should we await v6?
Porting a project with ReachRouter to ReactRouter v5, but relative routes are such a pain to sub string manually.

Happy 2020 everyone.

Relative routes and links are the default in v6. I'm not very optimistic that we can introduce relative links in v5 because some people are probably already relying on their `<Link to>` values resolving like normal `<a href>` values do, which isn't how we are doing it in v6. So this would be a breaking change for them.

I wrote up [a section about relative links and routes in the v5 to v6 migration guide](https://github.com/ReactTraining/react-router/blob/4a55331e73feb2f36e7d322bab7e45706e86dede/docs/guides/migrating-5-to-6.md#relative-routes-and-links) if you want to read more about how it works. But we can't change this in v5 w/out breaking some apps.

> Relative routes and links are the default in v6. I'm not very optimistic that we can introduce relative links in v5 because some people are probably already relying on their `<Link to>` values resolving like normal `<a href>` values do, which isn't how we are doing it in v6. So this would be a breaking change for them.
> 
> I wrote up [a section about relative links and routes in the v5 to v6 migration guide](https://github.com/ReactTraining/react-router/blob/4a55331e73feb2f36e7d322bab7e45706e86dede/docs/guides/migrating-5-to-6.md#relative-routes-and-links) if you want to read more about how it works. But we can't change this in v5 w/out breaking some apps.

It would be great if there were not only the one style for nested routes, but also the style with the leading `./`. For me this is better understandable.

Including support for `./` as the `<Route path>` prefix opens the door for using `<Route path="../something">` which doesn't make any sense.

> Including support for `./` as the `<Route path>` prefix opens the door for using `<Route path="../something">` which doesn't make any sense.

Right, but I don't think that it is an problem to throw an exception if there is more than one leading dot.

Sure, @MeiKatz. We can include support for one leading `.`. I think probably enough people will expect it to work that it's worth including. But I'll also include a warning for `..`.